In [1]:
# Dependancies
import pandas as pd
import os

# File load
file1 = os.path.join('data', 'fatal-police-shootings-data.csv' )
file2 = os.path.join('data', 'ACSDP1Y2015.csv' )
file3 = os.path.join('data', 'ACSDP1Y2016.csv' )
file4 = os.path.join('data', 'ACSDP1Y2017.csv' )
file5 = os.path.join('data', 'ACSDP1Y2018.csv' )

# File read
shootings_df = pd.read_csv(file1)
# c_2015 = pd.read_csv(file2, header=None)
# c_2016 = pd.read_csv(file3, header=None)
# c_2017 = pd.read_csv(file4, header=None)
# c_2018 = pd.read_csv(file5, header=None)
c_2015 = pd.read_csv(file2)
c_2016 = pd.read_csv(file3)
c_2017 = pd.read_csv(file4)
c_2018 = pd.read_csv(file5)

In [19]:
# Census Data Cleaning
# Extract relevant columns to identify population averages for
# each year available.

# List to iterate through Census files
df_list = [c_2015, c_2016, c_2017, c_2018]
census_dict = {}

# Function Setup
# Column pull and format function
def col_pf (df, year):
    df = df.loc[:, ['GEO_ID', 'NAME', 'DP05_0001E']]
    df = df.rename(columns={'NAME': 'Place/State', 'DP05_0001E': f'{year} Population'}) 
    df[['Place', 'State']] = df['Place/State'].str.rsplit(",", expand=True)
    df = df[53:]
    df = df.reset_index(drop=True)
    return df

In [20]:
# Applied col_pf function on Census DFs
df_2015 = col_pf(c_2015, 2015)
df_2016 = col_pf(c_2015, 2016)
df_2017 = col_pf(c_2015, 2017)
df_2018 = col_pf(c_2015, 2017)

df_2015.head()

,GEO_ID,Place/State,2015 Population,Place,State
0,1600000US0107000,"Birmingham city, Alabama",214911,Birmingham city,Alabama
1,1600000US0121184,"Dothan city, Alabama",67536,Dothan city,Alabama
2,1600000US0135896,"Hoover city, Alabama",84839,Hoover city,Alabama
3,1600000US0137000,"Huntsville city, Alabama",189114,Huntsville city,Alabama
4,1600000US0150000,"Mobile city, Alabama",194305,Mobile city,Alabama